

  .background {
      background-image:url("../images/circuit.png");
      clear:both;
      overflow: auto;

  }

#banner2 {
float:left;
margin-top:40px;
margin-left:450px;

} 


h1 {
    float: left;
   background:teal;
   padding:10px;
   color:whitesmoke;
   width:300px;
   height:50px;
   font-size:35px;
   text-align:center;
   margin-bottom: 0px;
   margin-left:11%;
}

.insidebox {
    width: 960px;
   background-color:white;
   margin-left:11% ;
   margin-right: 11%;
   margin-bottom:10%;
}

h2{
    color:teal;
    text-align: left;
    padding:20px;
    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: grey;
    margin:20px;
}


#bioimg{ 
    height:200px;
    width: 250px;
    margin-left:30px;
    float:left;
    padding-right:20px;

  }

  #paragraph {
      color: gray;
      padding-bottom:200px;
      line-height:40px;
      
  }

      
#first {
    height:200px;
    width:200px;
   position: relative;
    left:80px;
    z-index: 1;
    

}
#second {
    height:200px;
    width:200px;
    position: relative;
    left:370px;
    top:-221px;
}
#third {
    height:200px;
    width:200px;
    position:relative;
    left:80px;
    top:-220px;

}

#fourth {
    height:200px;
    width:200px;
    position:relative;
    left:370px;
    top:-440px;
}

#five {
    height:200px;
    width:200px;
    position:relative;
    left:80px;
    top:-440px;
}

#box-1 {
    background-color:teal;
    margin:0;
    height:5px;
}

#footer {
    background-color: darkslategrey;
    height:20px; 
    color:white;
    font-size:10px;
    text-align: center;
    padding-top:25px;
} 

a {
    color:grey;
}

h1:hover {
    color:black;
}

#button {
    background:teal;
    color:white;
}
#contact-info {
    margin-left:210px;
    color:grey;
    text-align:left;
    padding-bottom:100px;
    font-size: 20px;
   }

   .boxset {
       color:white;
   }

   #box1 {
    background:teal;
    height:30px;
    width:200px;
    padding-top:10px;
    position: relative;
    right:-40px;
    bottom:950px;
    z-index: 2;
   }

   #box2{
    background:teal;
    height:30px;
    width:200px;
    padding-top:10px;
    position:relative;
    bottom:1005px;
    right:-330px;
   }

   #box3 {
    background:teal;
    height:30px;
    width:200px;
    padding-top:10px;
    position:relative;
    right:-40px;
    bottom:840px;

   }

   #box4 {
    background:teal;
    height:30px;
    width:200px;
    padding-top:10px;
    position:relative;
    right:-330px;
    bottom:900px;
 }

 #box5 {
    background:teal;
    height:30px;
    width:200px;
    padding-top:10px;
    position: relative;
    right:-40px;
    bottom:750px;
 }